/* CSS reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS variables */
:root{
    --navbar-height: 59px;
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    background-color: black;
    /* background: transparent; */
    position: relative;
    top: 0px;
    /* height: 80px;
    width: 100%; */
}

#navbar::before{
    content: ""; 
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation bar: logo and image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

/* Navigation bar: list styling */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 720px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: ""; 
    position: absolute;
    background: url('images/Nature1.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.25);
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid rgb(250, 245, 245);
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f0e6e6e5;
}
#services .box img{
    height: 156px;
    margin: auto;
    display: block;
}

/* service section2 */
#services2{
    margin: 34px;
    display: flex;
}

#services2 .box{
    border: 2px solid rgb(250, 245, 245);
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f0e6e6e5;
}


#services2 .box img{
    height: 156px;
    width: 156px;
    margin: auto;
    display: block;
}

/* Client section */
#client-section{
    height: 344px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('images/Nature3.jpg');
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity: 0.8;
}

#About{
    display: flex;
    justify-content: center;
    align-items: center;
}

#About img{
    height: 83px;
    text-align: center;
}

#About .about-item{
    text-align: center;
    width:50%;
}

/* Contact-section */
#Contact{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#Contact-section::before{
    content: "";
    position: absolute;
    background: url('images/Nature1.jpg');
    width: 100%;
    height: 30%;
    z-index: -1;
    opacity: 0.8;
}

#Contact-section{
    margin-bottom: 150px;
}

.button{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(218, 153, 153);
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}


/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color:rgb(86 152 204);
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}

